#mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories, meaning that if the folder exits on the server then don't change anything and don't run the rule

Rewrite %{REQUEST_FILENAME} !-d

# Check for file in directory with .html extension

Rewrite %{REQUEST_FILENAME}/.html -f

# Here we actually show the page that has the .html extension

Rewrite ^(.*)$ $1.html [NC,L,]